[user]
	name = Shinya Fujino
	email = shf0811@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
	pager = delta --color-only --theme OneHalfDark
[interactive]
	diffFilter = delta --color-only --theme OneHalfDark
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	s = status
	ss = status -sb
	a = !git add . && git status
	ap = add -p
	c = commit
	cm = commit -m
	ca = commit --amend
	co = checkout
	d = diff
	lg = log --pretty=oneline --decorate --graph --abbrev-commit
	lga = log --pretty=oneline --decorate --all --graph --abbrev-commit
[merge]
	conflictstyle = diff3
	tool = vimdiff
[init]
	defaultBranch = main
